.t-black {
	color: $black;
}
.t-white {
	color: $white;
}
.t-blue {
	color: $blue;
}

.t-bg-black {
	background-color: $black;
}
.t-bg-white {
	background-color: $white;
}
.t-bg-blue {
	background-color: $blue;
}

.t-fill-black {
	fill: $black;
}
.t-fill-white {
	fill: $white;
}
.t-fill-blue {
	fill: $blue;
}

.t-stroke-black {
	stroke: $black;
}
.t-stroke-white {
	stroke: $white;
}
.t-stroke-blue {
	stroke: $blue;
}

.t-border-black {
	border-color: $black;
}
.t-border-white {
	border-color: $white;
}
.t-border-blue {
	border-color: $blue;
}
